In [1]:
import pandas as pd
import numpy as np

In [120]:
train=pd.read_csv('walmart_train.csv')
feature=pd.read_csv('walmart_features.csv')
store=pd.read_csv('walmart_stores.csv')
test=pd.read_csv('walmart_test.csv')

In [121]:
train=train.merge(feature,how='left')

In [122]:
train=train.merge(store,how='left')
train

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,B,118221
421566,45,98,2012-10-05,628.10,False,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,B,118221
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,B,118221
421568,45,98,2012-10-19,760.01,False,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,B,118221
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,B,118221

In [108]:
train.isnull().mean()

Store           0.000000
Dept            0.000000
Date            0.000000
Weekly_Sales    0.000000
IsHoliday       0.000000
Temperature     0.000000
Fuel_Price      0.000000
MarkDown1       0.642572
MarkDown2       0.736110
MarkDown3       0.674808
MarkDown4       0.679847
MarkDown5       0.640790
CPI             0.000000
Unemployment    0.000000
Type            0.000000
Size            0.000000
dtype: float64

In [109]:
train.describe()

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,44.260317,15981.258123,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,171.201947,7.960289,136727.915739
std,12.785297,30.492054,22711.183519,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,39.159276,1.863296,60980.583328
min,1.000000,1.000000,-4988.940000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,126.064000,3.879000,34875.000000
25%,11.000000,18.000000,2079.650000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,132.022667,6.891000,93638.000000
50%,22.000000,37.000000,7612.030000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,182.318780,7.866000,140167.000000
75%,33.000000,74.000000,20205.852500,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,212.416993,8.572000,202505.000000
max,45.000000,99.000000,693099.360000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,219622.000000

In [110]:
#for mark in train.columns[7:12]:
 #   plt.figure(figsize=(8,6))
  #  train[mark].plot(kind='kde')

In [123]:
for mark in train.columns[7:12]:
    train[mark+'_zero']=train[mark].fillna(0)

In [124]:
for mark in train.columns[7:12]:
    mean=train[mark].mean()
    train[mark+'_mean']=train[mark].fillna(mean)

In [125]:
for mark in train.columns[7:12]:
    median=train[mark].median()
    train[mark+'_median']=train[mark].fillna(median)

In [126]:
for mark in train.columns[7:12]:
    mode=train[mark].mode()
    train[mark+'_mode']=train[mark].fillna(mode)

In [127]:
for mark in train.columns[7:12]:
    mode=train[mark].mode()
    train[mark+'_mode']=train[mark].fillna(mode)

In [128]:
for mark in train.columns[7:12]:
    extr_outlier=train[mark].mean()+3*train[mark].std()
    train[mark+'ext_outlier']=train[mark].fillna(extr_outlier)

In [129]:
for mark in train.columns[7:12]:
    lowe_outlier=train[mark].mean()-3*train[mark].std()
    train[mark+'low_outlier']=train[mark].fillna(lowe_outlier)

In [14]:
#for mark in train.columns[7:12]:
 #   plt.figure(figsize=(8,6))
  #  train[mark].plot(kind='kde',color='balck')
   # train[mark+'_mean'].plot(kind='kde',color='red')

In [130]:
train.describe()

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,...,MarkDown1ext_outlier,MarkDown2ext_outlier,MarkDown3ext_outlier,MarkDown4ext_outlier,MarkDown5ext_outlier,MarkDown1low_outlier,MarkDown2low_outlier,MarkDown3low_outlier,MarkDown4low_outlier,MarkDown5low_outlier
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,...,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,44.260317,15981.258123,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,...,23229.535639,24259.351699,20920.625139,16216.739006,16091.857813,-8736.695247,-17590.094457,-18041.782371,-9450.402494,-6833.907655
std,12.785297,30.492054,22711.183519,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,...,12910.076126,13440.852567,14594.668619,9499.317192,9296.781486,12910.076126,13440.852567,14594.668619,9499.317192,9296.781486
min,1.000000,1.000000,-4988.940000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,...,0.270000,-265.760000,-29.100000,0.220000,135.160000,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
25%,11.000000,18.000000,2079.650000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,...,8321.440000,14928.540000,115.390000,3915.290000,4876.340000,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
50%,22.000000,37.000000,7612.030000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
75%,33.000000,74.000000,20205.852500,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,2809.050000,2.200000,4.540000,425.290000,2168.040000
max,45.000000,99.000000,693099.360000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,...,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000

In [131]:
train

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,MarkDown1ext_outlier,MarkDown2ext_outlier,MarkDown3ext_outlier,MarkDown4ext_outlier,MarkDown5ext_outlier,MarkDown1low_outlier,MarkDown2low_outlier,MarkDown3low_outlier,MarkDown4low_outlier,MarkDown5low_outlier
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,...,32120.084232,31760.700597,30308.656255,22260.320349,22517.637445,-17627.243841,-25091.443355,-27429.813487,-15493.983837,-13259.687287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,4556.61,20.64,1.50,...,4556.610000,20.640000,1.500000,1601.010000,3288.250000,4556.610000,20.640000,1.500000,1601.010000,3288.250000
421566,45,98,2012-10-05,628.10,False,64.89,3.985,5046.74,NaN,18.82,...,5046.740000,31760.700597,18.820000,2253.430000,2340.010000,5046.740000,-25091.443355,18.820000,2253.430000,2340.010000
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,1956.28,NaN,7.89,...,1956.280000,31760.700597,7.890000,599.320000,3990.540000,1956.280000,-25091.443355,7.890000,599.320000,3990.540000
421568,45,98,2012-10-19,760.01,False,56.47,3.969,2004.02,NaN,3.18,...,2004.020000,31760.700597,3.180000,437.730000,1537.490000,2004.020000,-25091.443355,3.180000,437.730000,1537.490000
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.00,...,4018.910000,58.080000,100.000000,211.940000,858.330000,4018.910000,58.080000,100.000000,211.940000,858.330000